<ion-header>
  <ion-toolbar>
    <ion-title>Membros do grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list lines="none">

    <!-- Davi -->
    <ion-item class="perfil-item">
      <ion-avatar slot="start">
        <img src="assets/davi.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Davi de Andrade Machado da Silva</h2>
      </ion-label>
    </ion-item>

    <!-- Marcelle -->
    <ion-item class="perfil-item">
      <ion-avatar slot="start">
        <img src="assets/marcelle.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Marcelle Nascimento Ramos</h2>
      </ion-label>
    </ion-item>

    <!-- Madalena -->
    <ion-item class="perfil-item">
      <ion-avatar slot="start">
        <img src="assets/madalena.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Madalena França Gentil Veiga</h2>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>