<ion-header>
  <ion-toolbar>
    <ion-title>Membros do grupo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-list>

    <!-- Davi -->
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/davi.jpg">
      </ion-avatar>
      <ion-label>
        <strong>Davi de Andrade Machado da Silva</strong>
      </ion-label>
    </ion-item>

    <!-- Marcelle -->
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/marcelle.jpg">
      </ion-avatar>
      <ion-label>
        <strong>Marcelle Nascimento Ramos</strong>
      </ion-label>
    </ion-item>

    <!-- Madalena -->
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/madalena.jpg">
      </ion-avatar>
      <ion-label>
        <strong>Madalena França Gentil Veiga</strong>
      </ion-label>
    </ion-item>

  </ion-list>

</ion-content>
