<ion-header>
  <ion-toolbar>
    <ion-title>Equipe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid style="height: 100%;">
    <ion-row class="ion-justify-content-center ion-align-items-center" style="height: 100%;">

      <ion-col size="12" style="text-align: center;">

        <h2>👥 Membros do Grupo</h2>

        <p><strong>Davi de Andrade Machado da Silva</strong></p>
        <p><strong>Marcelle Nascimento Ramos</strong></p>
        <p><strong>Madalena França Gentil Veiga</strong></p>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
